.aboutContainer{
    width: 85%;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    
}

.aboutContainer h1{
    color: #2E8B57;
    font-size: 30px;
    font-weight: 700;
    text-align: start;
    margin-bottom: 5px;
    margin-top: 15px;
}

.aboutContainer p{
    font-size: 18px;
    
}

.aboutContainer ul li{
    font-size: 18px;
    font-weight: 350;
}