.genresFilter{
    height: fit-content !important;
    min-width: 250px !important;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.3);
    margin: 0;
    padding: 0;
}

.content{
    display: flex;
    gap: 20px;
    height: auto;
    flex-wrap: nowrap;
}

.movies{
    width: 800px;
}

.filterHeader{
    text-align: center;
    justify-content: center;
}

.filterHeader p{
    margin: 5px 0px;
    font-size: 13px;
    font-weight: 600;
    color: #2E8B57;
}

.checkboxLabel{
    color: #2E8B57;;
    margin-left: 10px;
    font-weight: 500;
}


@media (max-width:1015px){
    .genresFilter{
        display: none !important;
    }
}

@media (max-width:650px){
    .genresFilter{
        display: none !important;
    }

    .content{
        flex-direction: column;
    }
}