.favoriteList{
    display: grid;
    width: 100%;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2,1fr);
    justify-items: center;
    column-gap: 30px;
}

.favoriteContainer{
    display: flex;
    width: 100%;
    height: 100%;
    margin: auto;
    justify-content: center;
}

main h1{
    font-size: 25px;
    font-weight: 700;
    color: #2E8B57;
    text-align: center;
    width: 85%;
    margin-bottom: 25px;
}

@media (max-width: 850px){
    .favoriteList{
        grid-template-columns: repeat(3,1fr);
    }
}

@media (max-width: 630px){
    .favoriteList{
        width: 90%;
        margin: auto;
        grid-template-columns: repeat(1,1fr);
    }
}