
.Start{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.title{
    font-size: 50px;
    font-weight: 600;
    color: #2E8B57;
}

.subTitle{
    font-size: 20px;
    text-align: center;
    width: 100%;
    padding: 0px 25px;
}

section{
    margin-bottom: 50px;
}

.movieSection{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.topMovies{
    width: 100%;
    height: auto;
    justify-content: center;
}
.seccionTitle{
    width: 85%;
    font-size: 20px;
    color: #2E8B57;
    margin-left: 14px;
    font-weight: 800;
}

.RatingMovies h2{
    text-align: center;
    margin-bottom: 30px;
    font-size: 20px;
    font-weight: 650;
    color: #2E8B57;
}

.popularMoviesContainer{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 85%;
    overflow: hidden;
    border-radius: 15px;
    min-width: 350px;
    max-width: 800px;
    padding: 20px;
}

.popularMoviesSlider{
    display: flex;
    width: 100%;
    gap: 20px;
    padding: 10px;
    height: auto;
    overflow-x: auto;
    overflow-y: hidden;
}

.topMoviesSlider{
    width: 85%;
    display: flex;
    max-width: 800px;
    min-width: 200px;
    justify-content: center;
}

.windowSlider{
    width: auto;
}

.nextSlider{
    animation: toRight 1s ease;
}

.prevSlider{
    animation: toRight 1s ease reverse;
}

.dotSlider{
    animation: toUp 1s ease;
}

.nextSlideBtn{
    all: unset;
    stroke: #2E8B57;
    transform: scale(1.5);
    transition: ease 100ms;
}

.nextSlideBtnLine{
    all: unset;
    transform: scale(1.2);
    transition: ease 100ms;
}

.nextSlideBtn:hover{
    transform: scale(2);
}

.nextSlideBtnLine:hover{
    transform: scale(1.7);
}


.nextSlideBtn svg{
    stroke: #2E8B57;
}

.nextSlideBtnLine svg{
    stroke: #2E8B57;
}

.prevBtn{
    transform: scaleX(-1);
}

@keyframes toRight{
    0% {
    transform: translateX(0);    
    opacity: 1;
    visibility: visible;
    }
    50% {
    transform: translateX(-100%);
    opacity: 0;
    visibility: visible;
    }
    51% {
    transform: translateX(100%);  
    opacity: 0;
    visibility: hidden;
    }
    100% {
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
    }
}

@keyframes toUp{
    0% {
        transform: translateY(0%);
    }
    25% {
        opacity: 0;
        transform: translateY(-100%);
    }
    50%{
        opacity: 0;
        transform: translateY(-100%);
    }
    100% {
        opacity: 1;
        transform: translateY(0%);
    }

}
.dotsContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
    gap: 0.5rem;
}

.dots{
    all: unset;
    border-radius: 25px;
    border: rgba(128, 128, 128, 0.658) 2px solid;
    cursor: pointer;
    width: 12px;
    height: 12px;
    transition: transform 100ms ease;
}

.dots.active{
    background-color: #2E8B57;
    border: #2E8B57 2px solid;
    transform: scale(1.3);  
}

.dots:hover{
    transform: scale(1.3);  
}

@media(max-width:650px){

    .dotsContainer{
        width: 80%;
        justify-content: space-between;
    }
    .dots{
        display: none;
    }
}