
.sectionTitle{
    color: #2E8B57 !important;
    font-size: 20px;
    margin-top: 16px;
    margin-bottom: 5px;
}


.cover{
    display: flex;
    min-width: 230px;
    height: auto;
    width: 80%;
    border-radius: 20px;
    background-color: #245c3c;
}

.moviePoster{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40%;
    height: auto;
    margin: 30px;
    min-width: 200px;
}

.movieInfo{
    display: flex;
    margin: 0;
    width: 70%;
    padding: 25px 0px;
    padding-right: 15px;
    border-radius: 0px 20px 20px 0px;
    flex-direction: column;
    justify-content: center;
    --bg-url:none;
    background-image: linear-gradient(
        to right, #245c3c, #245c3cea 20%, #245c3ccc 40%
    ), var(--bg-url);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
}

.moviePoster img{
    border-radius: 15px;
    margin-top: 40px;
    width: 100%;
    height: auto;
}

.favoriteBtn{
    margin-top: 10px;
    border-radius: 15px;
    border: 1px solid #245c3c;
    width: 100%;
    height: 35px;
}

.favoriteBtn:hover{
    background-color: rgb(207, 207, 207);
}

.movieInfo h2{
    color:#FFFAE3 !important;
}

.title{
    color: white;
    font-size: 25px;
    font-weight: 700;
    margin: 0px;
}

.tagline{
    color: rgb(228, 228, 228);
    font-size: 23px;
    font-weight: 350;
    margin: 0px;
}

.movieRank{
    display: flex;
    font-size: 25px;
    font-weight: 700;
}

.rankLogo{
    color: #45ca7f !important;    
}

.rankValue{
    color: gold !important;
}

.movieInfo h1{
    color: white;
}

.movieInfo h2{
    color: gold;
}

.movieInfo h3{
    color: #cce2d5;
    font-size: 16px;
}

.movieInfo h4{
    color: white;
}

.movieInfo h5{
    color: #cce2d5;
}

.overview{
    width: 75%;
}

.distributionSection{
    width: 80% !important;
    min-width: 0px;
    max-width: 1100px;
}
.crew{
    display: flex;
    gap: 20px;   
    width: 100%;
    overflow-x: auto;
}

.recomendationList{
    display: flex;
    overflow-x: auto;
    gap: 25px;
    width: 100%;
    
}

.cast{
    display: flex;
    text-align: center;
    overflow-x: auto;   
    height: auto;
    gap: 25px;
    width: 100%;
}


.subDetail{
    margin-top: 5px;
    text-align: center;
}

.subDetail h4{
    color: #2E8B57 !important;
    font-size: 15px;
    font-weight: 600;
}

.subDetail p{
    text-align: center;
    font-weight: 400;
    font-size: 15px;
}


.recomendedMovie{
    margin: 10px;
}

.recomendedMoviePoster{
    box-shadow: 0px 0px 5px black;
    border-radius: 5px;
    width: 200px;
    height: 300px;
}

.recomendedMovieTitle{
    color: #2E8B57;
    font-size: 16px;
    font-weight: 600;
    margin: 0;
}


@media (max-width:680px){
    .cover{
        flex-direction: column;
        align-items: center;
    }

    .movieInfo{
        width: 100%;
        border-radius: 0px 0px 10px 10px;
        padding-left: 20px;
        background-image: linear-gradient(
            to bottom, #245c3c, #245c3cf6 10%, #245c3ccc 20%
        ), var(--bg-url)
    }
}
@media (max-width:902px) {
    .cover{
        background-position: 180% 0;
        padding: 5;
    }
    
    

}