
.title{
    align-items: start;
    width: 100%;
    color: black;
    font-size: 22px;
    font-weight: 400;
    margin: 20px;
}

.content{
    display: flex;
    gap: 20px;
    width: 100%;
}

.genresFilter{
    height: fit-content !important;
    min-width: 250px !important;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.3);
    margin: 0;
    padding: 0;
}

.filterTitle{
    margin: 0;
    text-align: center;
    color: #2E8B57;
    font-size: 16px;
    font-weight: 500;
}


.checkboxLabel {
    color: rgb(69, 111, 129);
    margin-left: 15px;
    font-weight: 550;
}

.searchedMovies{
    display: flex;
    flex-direction: column;
    height: auto;
    margin: auto;
    width: 100%;
    gap: 16px;
}

.movie{
    display: flex;
    gap: 15px;
    height: 250px;
    border-bottom: 2.6px solid rgb(54, 129, 83, 0.6);
    border-radius: 1px;
}

.poster{
    width: 150px;
    height: 225px;
    border-radius: 3px;
    margin-bottom: 17px;
}

.movieText h3{
    margin-top: 8px;
}

.movieText h5{
    color: gray;
}

.movieText p{
    color: black;
    margin-top: 15px;
}

.rating{
    margin: 0;
    font-size: 18px;
    font-weight: 500;
}

.genresFilter li label{
    color: #2E8B57;
}

.responsiveFilter{
    display: none;
    margin: 0;
    padding: 14px;
    position: absolute;
    background-color: white;
    border: 1px solid rgba(128, 128, 128, 0.623);
    width: 150px;
    border-radius: 8px;
    margin-top: 43px;
    z-index: 100;
}

.responsiveFilter li label{
    color: #2E8B57;
}

.filtersBtn{
    display: none;
    width: 150px;
    border: rgba(0, 0, 0, 0.253) 1px solid;
    background-color: white;
    padding: 8px;
    border-radius: 10px;;
}

.filtersBtn:hover{
    cursor: pointer;
}

.responsiveFilterContainer{
    display: none;
    width: 70%;
    justify-content: start;
}

.isVisible{
    display: block;
}

.btnActive{
    background-color: #2E8B57;
    color: white !important;
    
}

.btnActive svg{
    stroke: white !important;
}

@media (max-width:1070px){


    .title{
        width: 90%;
    }
    .genresFilter{
        display: none !important;
    }

    .filtersBtn{
        display: block;
    }

    .responsiveFilterContainer{
        display: flex;
    }
}