.temporaryContainer{
    width: 70%;
}

.title{
    align-items: start;
    color: black;
    font-size: 22px;
    font-weight: 400;
    margin-bottom: 45px;
}

.content{
    display: flex;
    gap: 20px;
    height: auto;
}

.genresFilter{
    height: fit-content !important;
    width: 250px;
}

.filterTitle{
    margin: 0;
    text-align: center;
    color: #2E8B57;
    font-size: 16px;
    font-weight: 500;
}


.genresFilter{
    margin: 0;
    padding: 0;
}

.checkboxLabel {
    color: rgb(69, 111, 129);
    margin-left: 15px;
    font-weight: 550;
}

.searchedMovies{
    display: flex;
    flex-direction: column;
    padding: 0 20px;
    height: auto;
    width: 700px;
    gap: 16px;
}

.movie{
    display: flex;
    gap: 15px;
    height: 250px;
    border-bottom: 2.6px solid rgb(54, 129, 83, 0.6);
    border-radius: 1px;
}


.poster{
    width: 150px;
    height: 225px;
    border-radius: 3px;
    margin-bottom: 17px;
    
}

.movieText h3{
    margin-top: 8px;
}

.movieText h5{
    color: gray;
}

.movieText p{
    color: black;
    margin-top: 15px;
}

.rating{
    margin: 0;
    font-size: 18px;
    font-weight: 500;
}

