.Content{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 3000px;
    gap: 50px;
}

.Start{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.title{
    font-size: 50px;
    font-weight: 600;
    color: #2E8B57;
}

.subTitle{
    font-size: 20px;
}

.PopularMovies{
    width: 1250px;
    height: 600px;
}

.PopularMovies h2{
    margin-top: 40px;
    margin-bottom: 15px;
    margin-left: 10px;
    font-size: 20px;
    color: #2E8B57;
    font-weight: 700;
}

.Movies{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: 1fr;
    overflow-x: auto;
    scrollbar-gutter: stable;
    gap: 5px;
    margin-top: 25px;
    width: 1250px;   
    max-height: 300px;
}

.RatingMovies h2{
    text-align: center;
    margin-bottom: 30px;
    color: #2E8B57;
}

.popularMoviesSlider{
    width: 100%;
    height: 500px;
}

.topMoviesSlider{
    width: 1100px;
    height: 1000px;
}