
.sectionTitle{
    color: #2E8B57 !important;
    font-size: 20px;
    margin-top: 16px;
    margin-bottom: 5px;
}
.cover{
    display: flex;
    height: 600px;
    width: 1500px;
    border-radius: 20px;
    background-repeat: no-repeat;
    padding: 0px 30px;
}

.details{
    display: flex;
}

.poster{
    text-align: center;
    margin: auto;
    width: 430px;
}

.poster img{
    border-radius: 15px;
    margin-top: 40px;
    width: 300px;
    height: 450px;
}

.favoriteBtn{
    margin-top: 10px;
    border-radius: 15px;
    border: 1px solid #245c3c;
    width: 301px;
    height: 35px;
}

.favoriteBtn:hover{
    background-color: rgb(207, 207, 207);
}


.mainDetails{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 1050px;
    height: 100%;
}

.mainDetails h2{
    color:#FFFAE3 !important;
}

.title{
    color: white;
    font-size: 25px;
    font-weight: 700;
    margin: 0px;
}

.tagline{
    color: rgb(228, 228, 228);
    font-size: 25px;
    font-weight: 350;
    margin: 0px;
}

.movieRank{
    display: flex;
    font-size: 25px;
    font-weight: 700;
}

.rankLogo{
    color: #45ca7f !important;    
}

.rankValue{
    color: gold !important;
}

.mainDetails h1{
    color: white;
}

.mainDetails h2{
    color: gold;
}

.mainDetails h3{
    color: #cce2d5;
    font-size: 16px;
}

.mainDetails h4{
    color: white;
}

.mainDetails h5{
    color: #cce2d5;
}

.overview{
    width: 500px;   
}

.distribution{
    position: relative;
    
}

.crew{
    display: flex;
    gap: 20px;
    width: 1500px;
}

.subDetail{
    margin-top: 5px;
}

.subDetail h4{
    color: #2E8B57 !important;
    font-size: 15px;
    font-weight: 600;
}

.subDetail p{
    text-align: center;
    font-weight: 400;
    font-size: 15px;
}
.cast{
    text-align: center;
    display: flex;
    overflow-x: auto;   
    width: 1500px;
    height: auto;
    gap: 25px;
}

.recomendationList{
    display: flex;
    width: 1500px;
    overflow-x: auto;
    gap: 25px;
    
}

.recomendedMovie{
    margin: 10px;
}

.recomendedMoviePoster{
    box-shadow: 0px 0px 5px black;
    border-radius: 5px;
    width: 200px;
    height: 300px;
}

.recomendedMovieTitle{
    color: #2E8B57;
    font-size: 16px;
    font-weight: 600;
    margin: 0;
}
