
.test{
    width: auto;
    height: 100%;
    align-items: center;
    position: relative;
}

.details{
    display: flex;
    height: 600px;
    width: 1500px;
    background-repeat: no-repeat;
    
}

.mainDetails{
    text-align: center;
    padding: 16px;
    width: 450px;
    height: 100%;
}

.subDetails{
    width: 1000px;
    height: 100%;
    margin-top: 56px;   
}

.subDetails h1{
    color: white;
}

.subDetails h2{
    color: gold;
}

.subDetails h3{
    color: gray;
}

.subDetails h4{
    color: white;
}

.subDetails h5{
    color: rgb(150, 150, 150);
}

.overview{
    width: 500px;
}

.mainDetails img{
    border-radius: 5px;
    margin-top: 40px;
    width: 300px;
    height: 450px;
}

.distribution{
    margin-top: 30px;
    position: relative;
}

.cast{
    text-align: center;
    display: flex;
    overflow-x: auto;
    width: 1500px;
    gap: 15px;
}

.recomendationList{
    display: flex;
    width: 1500px;
    overflow-x: auto;
}