
.test{
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: center;
    position: relative;
}

.details{
    display: flex;
    height: 600px;
    width: 1500px;
    background-repeat: no-repeat;
    border-radius: 10px;
    padding: 0px 30px;
}

.mainDetails{
    text-align: center;
    margin: auto;
}

.subDetails{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 1050px;
    height: 100%;
}


h2{
    color:#FFFAE3 !important;
}

.title{
    color: white;
    font-size: 25px;
    font-weight: 700;
    margin: 0px;
}

.tagline{
    color: rgb(228, 228, 228);
    font-size: 25px;
    font-weight: 350;
    margin: 0px;
}

.movieRank{
    display: flex;
    font-size: 25px;
    font-weight: 700;
}

.rankLogo{
    color: #45ca7f !important;    
}

.rankValue{
    color: gold !important;
}

.subDetails h1{
    color: white;
}

.subDetails h2{
    color: gold;
}

.subDetails h3{
    color: #cce2d5;
    font-size: 16px;
}

.subDetails h4{
    color: white;
}

.subDetails h5{
    color: #cce2d5;
}

.overview{
    width: 500px;   
}

.mainDetails img{
    border-radius: 5px;
    margin-top: 40px;
    width: 300px;
    height: 450px;
}

.distribution{
    margin-top: 30px;
    position: relative;
}

.cast{
    text-align: center;
    display: flex;
    overflow-x: auto;
    margin-bottom: 50px;
    width: 1500px;
    height: auto;
    gap: 25px;
}

.recomendationList{
    display: flex;
    width: 1500px;
    overflow-x: auto;
    gap: 25px;
    
}

.recomendedMovie{
    margin: 10px;
    ;
}

.recomendedMoviePoster{
    box-shadow: 0px 0px 5px black;
    border-radius: 5px;
    width: 200px;
    height: 300px;
}

.recomendedMovieTitle{
    color: #2E8B57;
    font-size: 16px;
    font-weight: 600;
    margin: 0;
}
