.movieCard{
    display: flex;
    flex-direction: column;
    cursor: pointer;
    align-items: center;
    position: relative;
    margin-left: 25px;
    border-radius: 5px;
    width: 200px;
    height: 500px;
}

.poster{
    width: 200px;
    height: 300px;
    border-radius: 10px 10px 0px 0px;
    background-color: red;
}

.favoriteTag{
    width: 25px;
    height: 40px;
    margin-left: 165px;
    position: absolute;
    background-color: #2B303A;
    border-radius: 0px 0px 5px 5px;
    border: 1px solid #2E8B57;
    border-top: none;
    align-content: center;
    padding-left: 1px;
}

.Rating{
    display: flex;
}

.Rating p{
    color: #48da87;
    font-size: 20px;
}
.RatingLogo{    
    font-weight: 800;
}

.RatingValue{
    margin-left: 5px;
}
.movieData{    
    background-color: #2B303A;
    color: white !important;
    width: 200px;
    height: 125px;
    padding: 10px 10px;
    border-radius: 0px 0px 10px 10px;
}

.movieData h3{
    font-size: 16px !important;
    color: #46db87;
}

.movieData h4{
    color: rgb(165, 165, 165);
}