.verticalMovieList{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.movie{
    display: flex;
    cursor: pointer;
    width: 700px;
    height: 250px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0,0.5);
}

.poster{
    width: 165px;
    height: 100%;
    border-radius: 10px 0px 0px 10px; 
}

.movieText {
    width: 535px;
    height: 100%;
    padding: 14px 16px;
    border-radius: 0px 10px 10px 0px;
    margin: 0;
}

header{
    height: 50px;
    
}

.overview{
    height: 84px;
    margin: 0;
}

.textOverview{
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    line-clamp: 4;
}

.movieData{
    height: 84px;
}

.movieText h3{
    color: #2E8B57;
    margin: 0;
}

.movieText h5{
    color: gray;
    margin: 0;
}


.GenresContainer{
    display: flex;
    gap: 15px;
    height: 50%;
    align-items: center;
}

.rating{
    margin: 0;
    height: 50%;
    font-size: 18px;
    font-weight: 500;
}

.genre{
    list-style: none;
    color: white;
    background-color: #2E8B57;
    align-content: center;
    border-radius: 15px;
    padding: 0px 10px;
    margin: 0;
    height: 30px;
}