* {
    margin: 0;
    padding: 0;
}
.header {
    justify-content: space-between ;
    align-items: center;
    display: flex;
    color: #2E8B57;
    background-color: #E9ECEF;
    border-bottom: 2px solid #ccc;
    padding: 0px 250px;
    width: 100%;;
    height: 100px;
}

.title {
    color: #2E8B57;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    width: 25%;
    text-decoration: none;

}

.navList{
    list-style: none;
    display: flex;
    align-items: center;
    font-weight: bold;
    margin-right: 90px;
    gap: 15px;
    height: 100%;
}

.navList li a{
    font-size: 18px;
    color: #2E8B57;
    text-decoration: none;
}