.Slider{
    width: 100%;
    height: 600px;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    display: flex;
    justify-content: center;
}

.SliderBorder{
    width: 500px;
    display: flex;
    justify-content: center;    
    align-items: center;
    background-color: cadetblue;
    overflow: hidden;

}

.SliderContent{
    display: flex;
    justify-content: start;
    text-align: center;
    align-items: center;
    width: 100%;
    height: 100%;
    gap: 400px;
    padding-left: 200px;
    background-color: cyan;
    transition: transform 1s ease-in-out;
}

.SliderImg{
    width: 300px;
    height: 500px;
}

.SliderItem{
    
}