.movie{
    display: flex;
    width: auto;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
    border-radius: 10px;
    width: 290px;
    
}

.poster{
    width: 145px;
    height: 200px;
    border-radius: 10px 0px 0px 10px;
}

.movieData{
    width: 145px;
    margin: 5px 15px;
}

.movieData h3{
    font-size: 16px;
    margin-top: 5px;
    color: #2E8B57;

}

.movieData h6{
    color: gray ;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    line-clamp: 3;
}