* {
    margin: 0;
    padding: 0;
    
}

.header {
    background-color: #2E8B57;
    border-bottom: 2px solid #ccc;
    width: 100%;
    height: auto;
    padding: 25px 0px;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.headerContainer{
    display: flex;
    
    height: auto;
    max-width: 80rem;
    min-width: 580px;
    justify-content: center;
}

.headerContainer > * {
    display: flex;
    align-items: center;
}

.titleContainer{
    width: fit-content;   
}

.search{
    width: 500px;
}

.title {
    width: 100%;
    font-size: clamp(2rem, 3vw, 3rem);
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-weight: bold;
    color: white;
    text-align: center;
}

.navbar{
    min-width: 320px;
    margin: 0;
}

.navUl{
    display: flex;
    list-style: none;
    font-weight: bold;
    margin: 0px;
    gap: 15px;
    padding: 0;
    
}

.tabletHeader{
    width: 100%;
    padding: 0;
}
.navUl li a{
    font-size: 18px;
    color: white;
    text-decoration: none;
    
}

.btnHeader{
    display: none;
}

.btnHam{
    display: none;
}
@media (max-width:990px){
    .header{
        padding: 25px 0px;
    }
    
    .headerContainer{
        width: 90%;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .navbar{
        margin: auto;
        padding-top: 20px;
    }
    .titleContainer{
        padding-bottom: 10px;
    }

    .search{
        width: 100%;
    }
}
@media (max-width:1280px){
    .navbar{
        flex-wrap: wrap;
    }
}

@media (max-width:768px){

    .header{
        width: 100%;
        padding: 0px;
        padding-bottom: 20px;
    }

    .headerContainer{
        position: relative;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 100%;
        min-width: 0px;
        margin: auto;
        padding: 10px 35px;

    }

    .mobileContainer{
        width: 20%;
        margin: 0;
    }

    .titleContainer{
        display: flex;
        margin: auto;
    }

    .btnHam{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0;
        width: auto; 
    }

    .btnHam span{
        border-radius: 2px;
        width: 25px;
        height: 3px;
        margin-bottom: 5px;
        background-color: white;
    }

    .title{
        font-size: 2rem;
        
    }

    .navbar{
        opacity: 0;
        position: absolute;
        visibility: hidden;
    }

    .mobileNavbarToggle{
        top: 140px;
        padding: 0;  
        transform: translateX(-100%);
        transition: ease 0.2s;
    }

    .mobileNavbar{
        display: flex;
        position: absolute;
        width: 300px;
        margin: 0;
        
        top: 140px;
        background-color: #2a8a54;
        z-index: 1000;
        transform: translateX(-20%);
        transition: ease-in 0.2s;
    }

    .search{
        width: 95%;
        margin-top: 20px;
    }
    .navUl{
        width: 100%;
        display: flex;
        flex-direction: column;    
        gap: 5px;
    }

    .navUl li{
        
        padding: 5px;
        padding-left: 15px;
        border-bottom: rgb(110, 207, 110) 1px solid;
    }
    .navUl li a{
        font-size: 1.5rem;
        font-weight: 400;
        margin-left: 25px;
    }

    .btnHeader{
        display: block;
        margin: auto;
        border: 0;
        background: none;
        font-size: 25px;
        color: white;
        width: 30px;
        height: 30px;
    }
}