
.ratingValue{
    font-style: normal;
    font-size: 20px;
    font-weight: 725;
    margin: 0px;
}

.lowRating{
    color: rgb(175, 17, 17) !important;
}

.mediumRating{
    color: rgb(255, 193, 78) !important;
}
.highRating{
    color: #29af63 !important;
    
}