.searcher{
    margin: 0px 25px;
    width: 100% !important;
}

.bar{
    justify-content: center;
    width: 100% !important;
    height: 35%;
    margin: 0;
    flex-wrap: nowrap !important;
}

@media (max-width:768px){
    .searcher{
        margin: 0;
        width: 100% !important;
    }
    
}

