
.sliderItem{
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    padding: 15px;
    height: 500px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
}

.movieTextContainer{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.textContainer{
    align-items: center;
    width: 80%;
    border-radius: 10px;
    justify-content: center;
    text-align: start;
    min-width: 320px;
}


.textContainer h3{
    color: #2E8B57;
    font-size: 25px;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 15px;
}

.textContainer h5{
    color: gray;
    margin-bottom: 0px;
}

.movieImageContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.imageWrapper{
    width: 70%;;
    border-radius: 15px 0px 0px 15px;
    margin: 15px;
    max-width: 350px;
    min-width: 250px;
}

.ItemImg{
    width: 100%;
    object-fit: cover;
    display: block;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.ItemTitle{
    padding: 0px 7px;
    font-weight: 600;
    font-size: 20px;
}

.ItemHr{
    width: 100%;
    text-align: center;
    margin: 8px auto;
    border: 1px solid #2E8B57;
}

.ItemOverview{
    font-size: 1.1rem;
    font-weight: 500;
    height: 120px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 6;
    overflow: hidden;
    margin: 0;
}

.ItemDescription{
    list-style: none;
    text-align: start;
    color: black;
    padding: 0;

}

.label{
    font-size: 15px;
    font-weight: 600;
}

.value{
    font-size: 15px;
    
}

.ranking{
    font-size: 25px;
    font-weight: 700;
    margin: 0;
}

.rankLogo{
    color: #45ca7f !important;    
}

.movieGenres{
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.movieGenres h3{
    color: #2E8B57;
}

.genresList{
    display: flex;
    column-gap: 15px;
    padding: 0;
}

.genreItem{
    list-style: none;
    color: white;
    background-color: #2E8B57;
    align-content: center;
    border-radius: 15px;
    padding: 0px 10px;
    height: 30px;
}

@media (max-width:650px){
    
    .sliderItem{
        flex-direction: column;
        min-height: 800px;
        min-width: 350px;
        height: auto;
        align-items: center;
    }

    .imageWrapper{
        min-width: 225px;
        border-radius: 15px;
    }

    .ItemImg{
        width: 100%;
        border-radius: 15px;
        
    }
    .ItemText{
        width: 100%;
        border-radius: 15px;
    }

    .ItemText h3{
        font-size: 19px;
    }

    .textContainer h3{
        font-size: 18px;
    }
}