.verticalMovieList{
    display: flex;
    position: relative;
    align-items: flex-start;
    gap: 20px;
    height: auto;
    width: 85%;
    margin: 0;
}

.sideFilters{
    display: flex;
    flex-direction: column;
    width: 30%;
    
}

.sideFilters h2{
    font-weight: 500;
    color: #2E8B57;
    margin-top: 87px;
}

.sideFilters hr{
    width: 85%;
    margin: 0 auto;
    border: #136e3a 1px solid;
}

.sideFiltersContainer{
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    height: auto;
    margin-top: 15px;
    gap: 20px;
    padding: 0;
}

.sideFilter{
    color: #2E8B57;
    font-weight: 600;
    
    box-shadow: 0px 0px 10px rgba(0, 0, 0,0.3);
    padding: 7px;
    border-radius: 15px;
}

.sideFilter:hover{
    cursor: pointer;
}

.filterAdded{
    background-color: #2E8B57;
    color: white;
    border-color: #2E8B57;
}

.moviesContainer{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100%;
    gap: 20px;
}

.movie{
    display: flex;
    cursor: pointer;
    align-items: center;
    width: 100%;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0,0.5);
}

.poster{
    width: 165px;
    height: 250px;
    border-radius: 8px 0px 0px 8px;
}

.movieText {
    width: 100%;
    height: 100%;
    padding: 14px 16px;
    border-radius: 0px 10px 10px 0px;
    margin: 0;
}

.overview{
    margin: 0;
}

.textOverview{
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 70px;
}

.movieData{
    width: 100% !important;
}

.movieText h3{
    color: #2E8B57;
    margin: 0;
}

.movieText h5{
    color: gray;
    margin: 0;
}


.GenresContainer{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    gap: 15px;
    height: 50%;
    
}

.rating{
    padding-bottom: 5px;
    margin: 0;
    height: 50%;
    font-size: 18px;
    font-weight: 500;
}

.responsiveFilter{
    list-style: none;
    margin: 0;
    padding: 14px;
    position: absolute;
    background-color: white;
    border: 1px solid rgba(128, 128, 128, 0.623);
    width: 150px;
    border-radius: 8px;
    margin-top: 43px;
    z-index: 100;
}

.responsiveFilter li label{
    font-weight: 500;
    font-size: 13px;
    margin-left: 10px;
    color: #2E8B57;
}

.responsiveFilter li input{

    width: 1.2rem;
    height: 1.2rem;
    border: 1px solid #2E8B57;
}

.responsiveFilter li input:checked{

    background-color: #2E8B57;
    border-color: #2E8B57;
}
.genre{
    list-style: none;
    color: white;
    background-color: #2E8B57;
    align-content: center;
    border-radius: 15px;
    padding: 6px;
    margin: 0;
    height: 30px;
}

.filtersBtn{
    all: unset;
    display: flex;
    align-items: center;
    font-size: 1.4rem;
    justify-content: center;
    gap: 10px;
    color: #136e3a;
    width: 150px;
    height: 40px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0,0.6);
    border-radius: 10px;;
}


.filtersBtn p{
    color: #2E8B57;
    padding: 0;
    margin: 0;
}

.filtersBtn:hover{
    cursor: pointer;
}

.responsiveFilterContainer{
    display: none;
    height: 40px;
    justify-content: start;
}

.btnActive{
    background-color: #2E8B57;
    color: white !important;    
}

.btnActive p{
    color: white !important;    
}
.btnActive svg{
    stroke: white !important;
}

.noMovies{
    width: 100%;
    
    text-align: center;
    
}

.noMovies h2{
    font-weight: 400;
    color: gray;
    margin: auto;
}

.topFilter{
    display: flex;
    justify-content: center;
}

.pagesContainer{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.pagesContainer h2{
    transform: translateY(4px);
}

.btnsContainer{
    display: flex;
    justify-content: center;
    gap: 18px;
    margin: 0px 30px;
}   

.pageBtn{
    width: 30px;
    height: 30px;
    background-color: transparent;
    border-radius: 10px;
}

.pageBtnBorder{
    border: #136e3a solid 2px;
}
.pageBtnNoBorder{
    border: none;
}
.pageBtn p{
    margin: auto;
    line-height: 2px;
    font-size: 15px;
    font-weight: 400;
    color: #2E8B57;
}

.pageBtn:disabled p {
    color: rgba(128, 128, 128, 0.432);
}

.pageBtn svg{
    stroke: #2E8B57;
}

.pageBtn:disabled svg{
    stroke: rgba(128, 128, 128, 0.432);
}

.pageBtn.left{
    transform: scaleX(-1);
}

.currentPageBtn{
    
}
.totalPages{
    margin: 0px;
    font-size: 17px;
    color: #136e3a;
    text-align: center;
}

@media (max-width:1070px){

    .genresFilter{
        display: none !important;
    }


    .textOverview{
        text-overflow: ellipsis;
    }
}

@media (max-width:850px){

    .pagesContainer{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    
    .totalPages{
        width: 50%;
    }
    
    .btnsContainer{
        margin: 10px;
        width: 100%;
    }

    .verticalMovieList{
        justify-content: center;
    }
    .sideFilters{
        display: none;
    }
    .sideFiltersContainer{
        display: none;
    }
    .responsiveFilterContainer{
        display: flex;
    }
}
@media (max-width:650px){


    .moviesContainer{
        width: 85%;
    }
    .responsiveFilterContainer{
        margin: auto;
    }

    .movie{
        position: relative;
        flex-direction: column;
        border-radius: 0px;
        box-shadow: 0px 0px 0px rgba(0, 0, 0,0.5);
    }
    
    .movieText{
        
        border-radius: 10px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0,0.5);   
    }

    .posterContainer{
        min-width: 0px;
        width: 180px !important;
        height: 262px !important; 
        border-radius: 10px;
        
    }

    .poster{
        position: absolute;
        width: 180px;
        height: 270px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0,0.5);
        border-radius: 10px 10px 10px 10px;
        z-index: 10;
        margin: auto;
    }

    .textOverview{
        max-height: none;
    }
}
