* {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;   
    color: #2E8B57;
}

.app-body{
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 25px;

}

.app-content{
    display: flex;
    text-align: center;
    justify-content: center;
    width: 80%;
    height: 1000px;
    
    
}

h4 {
    color: gray;
}