@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

html{
    font-size: 12px;
    overflow-y: scroll;
}

* {
    font-family: "Lexend", sans-serif;
    color: black;
    scrollbar-gutter: auto;
}

.full-body{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    padding-top: 25px;
    background-color: white;
    color: black;
}

.main-body{
    display: flex;
    margin: auto;
    padding-top: 35px;
    flex-direction: column;
    align-items: center;
    min-height: 597px;
    width: 80%;
    height: auto;
}

h4 {
    color: gray;
}

.search-input {
    width: 300px !important;
    font-size: 15px !important;
}

.search-btn{
    transition: 0.5s ease;
}

.search-btn:hover {
    background-color: gray;
}

.dropdown-toggle::after {
    display: none !important;
}

.dropdown-menu{
    width: 100%;
}

.dropdown-menu li{
    width: 100%;
    text-decoration: none;
    color: black;
    font-size: 15px;
    font-weight: 600;
    padding-left: 10px;
}

.dropdown-menu li:hover{
    width: 100%;
    background-color: #2E8B57;
    
}

.dropdown-menu a{
    width: 100%;
}

.dropdown-menu a:hover{
    background-color: gray;
}

.searcher {
    width: 500px;
}

.slick-prev:before,
.slick-next:before {
    color: #2B303A !important;
}